<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<head th:include="fragments/header :: head">
</head>
<body>

	<div th:include="fragments/body :: headline (txt='Nutzerübersicht' )"></div>
	    
<!-- 		<div class="container"> -->
<!--              <div class="well"> -->
<!--              <img src="https://staticdelivery.nexusmods.com/mods/130/images/thumbnails/65662/65662-1537389024-1257889344.jpeg" class="img-rounded" alt="Cinque Terre" width="56" height="56"> -->
<!--              PizzaPoint-App -->
<!--              <button type="button" class="btn btn-outline-dark" style="float: right">Auswahl</button> -->
<!--              <button type="button" class="btn btn-outline-success" style="float: right">einloggen</button> -->
<!--              </div> -->
           
  
<!--           </div> -->
          
          
	<section class="container">
		<table th:if="${listAllCustomers != null}" class="table table-hover table-bordered table-sm">
		<thead class="thead-light">
			 <tr>
				 <th scope="col">Vorname</th>
				 <th scope="col">Nachname</th>
				 <th scope="col">Login Name</th>
				 <th scope="col">Email</th>
				 <th scope="col">Adresse</th>
				 
<!-- 				 <th scope="col">Passwort Hash</th> -->
				 <!-- <th scope="col">Aktion</th>-->
			</tr>
		</thead>
		<tbody>
			<tr th:each="customer : ${listAllCustomers}">
				<div th:name="modelAttr"></div>
				<td th:value ="${customer.firstName}" th:text="${customer.firstName}" name = "firstName"></td>
				<td th:value ="${customer.lastName}" th:text="${customer.lastName}" name = "lastName"></td>
				<td th:value ="${customer.loginName}" th:text="${customer.loginName}" name = "loginName"></td>
				<td th:value = "${customer.email}" th:text="${customer.email}" name = "email"></td>
				
				<!-- <td ><input type="submit" class="btn btn-outline-primary btn-sm" value="Löschen"></td>	-->
						
			</tr>
		</tbody>
	</table>
	<!-- <h5>Vorlesung:</h5>
	       <form th:action="@{/add }" method="post">
	           <input class="form-control" type="text" name="lecture" minlength="1"
	                          maxlength="255" style="width: 500px;"> <br /> 
	<h5>Note:</h5>
	           <input class="form-control" type="text" name="grade" minlength="1"
	                          maxlength="255" style="width: 500px;"> <br /> 
	              <input type="submit" class="btn btn-outline-primary btn-sm" value="Note eintragen">
	              
	       </form>
	       
	       <script th:if="${errorMessage != null}" th:inline="javascript">
				/*<![CDATA[*/
				
				    alert(/*[[${errorMessage}]]*/ 'ein Fehler ist aufgetreten');
				
				/*]]>*/
			</script>
	 -->
	</section>
	<div th:include="fragments/footer :: footer"></div>
</body>
</html>